<H1 mat-dialog-title>{{Editorial !=null ? 'EDITAR USUARIO':'NUEVO USUARIO'}}</H1>
<div mat-dialog-content>
    <br>
    <mat-form-field appearance="fill"> 
        <mat-label>TITULO</mat-label>
        <input matInput [(ngModel)]="titulo"> 
          <!--   {{titulo}} -->
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">    
        <mat-label>DESCRIPCION</mat-label>
        <input matInput [(ngModel)]="descripcion"> 
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>AUTOR</mat-label>
        <input matInput [(ngModel)]="autor">
    </mat-form-field>
    <br>
  
    <mat-form-field appearance="fill">
        <mat-label>Select an option</mat-label>
        <mat-select [(ngModel)]="seleccionada" >
          <mat-option>None</mat-option>      
          <mat-option  *ngFor="let estado  of estados" [value]="estado.nombre">{{estado.nombre}}</mat-option>
        </mat-select>
      </mat-form-field>
      
       <p>You selected: {{seleccionada}}</p>

  
<!-- </mat-form-field> -->
</div>

<div mat-dialog-actions>
    <button mat-raised-button (click)="close()">CANCELAR</button>
    <button mat-raised-button  (click)="Editorial !=null ? 'EditEditorial()': 'addEditorial()'" color="primary">GUARDAR</button>

<!-- comentario de prueba  -->
</div>